:root {
  --background-body: #2e2e32;
  --background-el: #4c8464;
  --title-color: #bedc7f;
  --text-color: #eeffcc;
  --text-color-dark: #3a4b40;
  --background-light: #66b9c1;
  --title-color-light: #ffd08a;
}
